<% provide(:title, 'Home') %>

<div class="center hero-unit">
    <h1>Midnight</h1>
    <p>
      Social networking for the night owl.
    </p>
  <%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %>
</div>

