<footer class="footer">
  <small>
    Final Project CSCI 3308 - Andrea Sassu and Eric Lobato
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>
